/* Complementary Colors Palette
// by Ivan Videnovic
//
// These functions return 6 colors palette
// according to the basic theme colore
============================================== */
@function color-primary-dark($color: $color-primary, $perc: $dark-light){
  @return darken($color, $perc);
}

@function color-primary-light($color: $color-primary, $perc: $dark-light) {
  @return lighten($color, $perc);
}

@function color-secondary($color: $color-primary, $deg: 180deg){
  @return adjust_hue($color, $deg);
}

@function color-secondary-dark($color: $color-primary, $deg: 180deg, $perc: $dark-light) {
    @return darken(adjust_hue($color, $deg), $perc);
}

@function color-secondary-light($color: $color-primary, $deg: 180deg, $perc: $dark-light) {
    @return lighten(adjust_hue($color, $deg), $perc);
}

