/* Basic HTML Elements
====================================================== */
body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}


#header {
  background-image: url('../images/coffee-header-bw-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-bottom: 40px;
}

/* HEADER CSS
====================================================== */
.header-overlay {
  background-color: rgba($color-primary, 0.7);
  height: 100vh;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
    text-decoration: none;
  }
}

.coffee-shop {
  border-bottom: 2px solid $color-secondary;
  margin: 20px 0;
  padding: 0 0 20px 0;


  img{
    border: 5px solid $color-primary;
    border-radius: 25%;
    padding: 2px;
  }

  .name {
    font-size: 3rem;
  }

  .distance-desc {
    text-align: center;
  }

  .distance {
    font-size: 2rem;
    text-align: center;
  }

}

#index-footer {
  background: #333;
  color: $color-primary;
  text-size: 2.4rem;
  text-align: center;
  width: 100%;
  height: 80px;

  .footer-text{
    line-height: 80px;
  }
}

// end: index.html styling

/* COFFEE SHOP Page
====================================================== */
#header-bar {
  background: $color-primary;
  margin-bottom: 50px;

  .headerbar-text {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    padding: 40px 0;
  }
}

.main-info {
  border-bottom: 2px solid $color-primary;

  h2 {
    font-size: 2.9rem;
  }

  .distance-icon {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5px;
  }

  .distance-info {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;
  }
}

.photos {
  margin-top: 20px;
}

.carousel-inner {

  img {
    background: #DDD;
    border-radius: 15%;
  }
}

#footer {
  background: #333;
  color: $color-primary;
  text-size: 2.4rem;
  text-align: center;
  width: 100%;
  height: 80px;
  margin-top: 80px;

  .footer-text{
    line-height: 80px;
  }

}

@media screen and (max-width: 575px) {
  .main-info {
    h2 {
      text-align: center;
    }
  }
}
// end: coffeeshop.html styling


.logo {
  padding-bottom: 50px;
}

.header-text h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  padding-top: 30px;
  text-transform: uppercase;
}

.header-text p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}

.header-btns {
  margin-top: 90px;
  margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited
{
  background: transparent;
  border-color: blue;
  padding: 10px 30px;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all $trans-time;
}

.btn-download:hover {
  background-color: blue;
  color: #fff;
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited
{
  color: #EEE;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  background: transparent;
  transition: all $trans-time;
}

.btn-tour:hover {
  color: #fff;
}

.header-iphone img{
  width: 100%;
}

p {
  font-size: 14px;
}

#main {
  height: 1000px;
}

/* Generic CSS
====================================================== */
.section-title {
  padding-top: 90px;
  padding-bottom: 50px;
}

.section-title h2 {
  position: relative;
  text-align: center;
  color: gray;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-title h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 60px;
  height: 1px;
  background-color: blue;
  margin-left: -30px;
}

.section-title p {
  color: gray;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin-top: 45px;
}


